//- Start Slider
.slider   
  .container 
    blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore voluptas suscipit recusandae itaque cum vel voluptatibus ad accusamus labore corporis? Numquam, officiis est reprehenderit aspernatur architecto vitae nulla odio magni?
    img(src="imgs/slider.jpg" alt="")
    ul.bullets 
      li.active
      li
      li
      li
      li
//- End Slider
//- Start Services
.services 
  .container 
    .head-with-border: h2 Our Services
    .services-box.text-center-xs
      h3.service-title
        i.fa.fa-home 
        span Testing Title
      p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .services-box.text-center-xs
      h3.service-title
        i.fa.fa-users 
        span Testing Title
      p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .services-box.text-center-xs
      h3.service-title
        i.fa.fa-gear
        span Testing Title
      p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .clearfix
//- End Services
//- Start Our Players
.our-players 
  .container 
    .head-with-border: h2 Our Players
    .player-box.text-center-xs 
      img.player-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
      h3.player-title
        span Name: 
        |Abdulrahman Alshayah
      p.player-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .player-box.text-center-xs 
      img.player-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
      h3.player-title
        span Name: 
        |Abdulrahman Alshayah
      p.player-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .player-box.text-center-xs 
      img.player-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
      h3.player-title
        span Name: 
        |Abdulrahman Alshayah
      p.player-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .player-box.text-center-xs 
      img.player-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
      h3.player-title
        span Name: 
        |Abdulrahman Alshayah
      p.player-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
    .player-box.text-center-xs 
      img.player-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
      h3.player-title
        span Name: 
        |Abdulrahman Alshayah
      p.player-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ad voluptates deleniti maxime cum quisquam accusantium provident harum veniam fuga doloribus fugit quam tempora repellendus odio explicabo. Dolorem, ipsum quas.
      a.link(href="#") Read More..
.clearfix
//- End Services
//- Start Lorem Ipsum
.lorem-ipsum 
  .container 
    .head-with-border: h2 Lorem Ipsum 
    .lorem-box.text-center-xs
      img.lorem-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
    .lorem-box.text-center-xs
      img.lorem-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
    .lorem-box.text-center-xs
      img.lorem-img(src="imgs/slider.jpg" alt="" style="width:300px;heigt:200px")
.clearfix
//- End Lorem Ipsum

