.footer
  .container
    .galary.text-center-xs
      h3.section-title Latest From The Blog
      .img-box
        img(src="imgs/slider.jpg", alt="")
        .text
          h4 Lorem Testing Title 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium earum debitis totam, impedit porro expedita voluptates dolor provident ducimus pariatur.
      .img-box
        img(src="imgs/slider.jpg", alt="")
        .text
          h4 Lorem Testing Title 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium earum debitis totam, impedit porro expedita voluptates dolor provident ducimus pariatur.
    .info
      h3.section-title company Details  
      ul 
        li Company Name
        li Street Name & Number
        li Town
        li Post Code
        li Tel: 012121212
        li Fax: 012121212
        li 
          |Email: 
          span Me@Elzero.org 
      
      h4.working Working Hours 
      p Money - Frieday 08:01 17:00
    .contact
      h3.section-title Latest From The Blog
      form(action="") 
        input(type="text" placeholder="Name")
        input(type="email" placeholder="Email")
        textarea(placeholder="Message")
        input.main-button(type="submit", value="Submit")
    .clearfix 
    .copyright 
      .text All Right Reserved &copy; 
      .author Designed By Os Template




