.header 
  .container 
    .logo 
      .text
        h1 composition 
        p Free Psd Website Template
      button.the-toggler
        span 
        span 
        span  
    ul.navbar 
      li: a(href="#") Homepage 
      li: a(href="#") Style Demo 
      li: a(href="#") Full Width
      li: a(href="#") Dropdwon
      li: a(href="#") link Text